# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\数据挖掘作业\Data-Mining_Homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
